[submodule "lib/fprime"]
	path = lib/fprime
	url = https://github.com/nasa/fprime.git
	branch = devel
[submodule "lib/fprime-arm-linux"]
	path = lib/fprime-arm-linux
	url = https://github.com/LeStarch/fprime-arm-linux.git
[submodule "lib/fprime-gds-dtn"]
	path = lib/fprime-gds-dtn
	url = https://github.com/pcrosemurgy/fprime-gds-dtn.git
	branch = devel
[submodule "lib/pyion"]
	path = lib/pyion
	url = https://github.com/pcrosemurgy/pyion.git
	branch = v4.1.2
[submodule "lib/ion"]
	path = lib/ion
	url = https://git.code.sf.net/p/ion-dtn/code
	update = none # Manually set to `v4.1.1-stable` tag
[submodule "lib/ion-core"]
	path = lib/ion-core
	url = git@github.com:nasa-jpl/ion-core.git # TODO use https://github.com/nasa-jpl/ion-core.git once public
