## begin ionadmin
1 2 ''
s

a contact +1 +86400 2 2 100000
a contact +1 +86400 2 3 100000
a contact +1 +86400 3 2 100000
a contact +1 +86400 3 3 100000

a range +1 +86400 2 2 1
a range +1 +86400 2 3 1
a range +1 +86400 3 2 1
a range +1 +86400 3 3 1

m production 1000000
m consumption 1000000
## end ionadmin

## begin ltpadmin
1 32
a span 2 128 128 1400 10000 1 'echo ION lso' 300
a span 3 128 128 1400 10000 1 'echo ION lso' 300
s 'echo ION lsi'
## end ltpadmin

## begin bpadmin
1
a scheme ipn 'ipnfw' 'ipnadminep'
a endpoint ipn:2.0 q
a endpoint ipn:2.1 q
a endpoint ipn:2.2 q
a protocol ltp 1400 100
a induct ltp 2 ltpcli
a outduct ltp 2 ltpclo
a outduct ltp 3 ltpclo
s
## end bpadmin

## begin ipnadmin
a plan 2 ltp/2
a plan 3 ltp/3
## end ipnadmin
